<div class="container">
  <div class="row">
    <div class="col">
      <h3>Reserves</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Day</th>
          <th scope="col">18:00</th>
          <th scope="col">19:00</th>
          <th scope="col">20:00</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let reserve of reserves">
          <td>{{reserve.day}}</td>
          <td>{{reserve.hour1}}</td>
          <td>{{reserve.hour2}}</td>
          <td>{{reserve.hour3}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>





