<div class="container">
  <div class="row">
    <div class="col">
      <h3>Reserves</h3>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Day</th>
          <th scope="col" *ngFor ="let h of hourDaysMonday">{{h.hour}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor ="let day of days">
          <td>{{day.description}}</td>
          <td *ngFor ="let h of hourDaysMonday">FREE</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



