<!--<div class="container">
  <div class="row">
    <div class="col">
      <h2>User</h2>
    </div>
  </div>
  <hr>
  <form>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationServer01">First name</label>
        <input type="text" class="form-control is-valid" id="validationServer01" placeholder="First name" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationServer02">Last name</label>
        <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Last name" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationServerUsername">Username</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend3">@</span>
          </div>
          <input type="text" class="form-control is-invalid" id="validationServerUsername" placeholder="Username" aria-describedby="inputGroupPrepend3" required>
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-1">
        <button class="btn btn-primary" type="submit" routerLink="/userList">Apply</button>
      </div>
      <div class="col-1">
        <button class="btn btn-secondary" type="submit" (click)="closeModal()">Close</button>
      </div>
    </div>
  </form>
</div>-->

<h1 mat-dialog-title><h2>User</h2></h1>
<hr>
<div mat-dialog-content>
    <div class="je-container">
            <mat-form-field>
              <input matInput placeholder="Name" [(ngModel)]='user.name'>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Surname" [(ngModel)]="user.surname">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Username" [(ngModel)]="user.username">
            </mat-form-field>
    </div>
</div>
<hr>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="user" cdkFocusInitial>Save</button>
  <button mat-button (click)="closeModal()">Close</button>
</div>
