@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~font-awesome/css/font-awesome.css";

body {
  background-color: #FCF9F8 !important;
}

.custom-card {
  width: 80%;
  margin: 40px auto;
}



.success-snackbar {
  background-color: green !important;

  .mat-button-wrapper {
    color: rgba(255,255,255,.7) !important;
  }

}

.error-snackbar {
  background-color: maroon !important;

  .mat-button-wrapper {
    color: rgba(255,255,255,.7) !important;
  }

}

.warning-snackbar {
  background-color: khaki !important;

  .mat-button-wrapper {
    color: rgba(255,255,255,.7) !important;
  }

}
