@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~font-awesome/css/font-awesome.css";

.je-container {
  display: flex;
  flex-direction: column;
}

.je-container > * {
  width: 100%;
}


.success-snackbar {
  background-color: green !important;

  .mat-button-wrapper {
    color: rgba(255,255,255,.7) !important;
  }
}

.error-snackbar {
  background-color: red !important;
}

.warning-snackbar {
  background-color: yellow !important;
}
